/* Keyframes for animating the background color from black to white and back */
@keyframes backgroundAnimation {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

/* Keyframes for animating the text color between white and orange */
@keyframes textAnimation {
  0% {
    color: white;
  }
  50% {
    color: #ff9b00;
  }
  100% {
    color: white;
  }
}

/* Class to apply the text animation, with 4s duration, one iteration, and alternate direction */
.handwriting-animation {
  animation: textAnimation 4s 1 alternate;
}

/* Class to apply the background color animation, with 8s duration, one iteration */
.background-animation {
  animation: backgroundAnimation 8s 1;
}

/* Styling for the coffee link, setting color, removing underline, and adjusting size and margin */
.coffee-link {
  color: olive;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
  display: block;
}
